/* Bootstrap styling */

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* Main page styling */

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");

* {
  font-family: "IBM Plex Mono", monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

#login-container{
  position: absolute;
  top: 25vh;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}

.banner-image {
  width: 100%;
}

.banner-div {
  width: 100%;
  height: 25vh;
  background-image: url(../images/Dekker_Banner_Strip_Small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.company-name-ai {
  color: #bac997;
}

.textarea, .element-button{
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}

.textarea{
  width: 100%;
  resize: none;
  padding: 1rem;
}

.element-button:focus, .form-control:focus{
  border-color:#bac997;
  box-shadow:0 0 0 .1rem rgba(186,201,151,1);
}

#ai-answer{
  background-color: #d4e1b3;
}

#kw-answer {
  background-color: #dedede;
}

#note{
  font-size: 0.7em;
}

.element-button {
  border: 1px solid #ced4da;
  margin: 0;
  padding: .7em 2.2em .7em 2.2em;
  font-size: 0.8em;
}

.element-label {
  color: #757575;
  font-size: 0.8rem;
  margin: 0;
  padding-left: 0.1em;
}

.dropdown-item.active, .dropdown-item:active {
  background-color:#bac997;
}

#loading-bar {
  width: 100%;
  height: 100px;
}